{% extends 'base.twig' %}
{% block header %}
    {{ parent() }}
    <h1>{{ header }}</h1>
{% endblock %}
{% block content %}
    <img src="public/img/home.png" alt="Home"/>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}